/* admin-profile.css */

@import url('https://fonts.cdnfonts.com/css/tt-hoves-pro-trial'); 
body {
  background-image: url('/assets/img3.png');
  background-size: cover;
  font-family: 'TT Hoves Pro Trial', sans-serif;
  color: #37452b ;
}
  
  .dashboard {
    background-color: rgba(255, 255, 255, 0.654);
    border: 2px solid #555353;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px 60px;
    text-align: left;
    min-width: 320px;
    max-width: calc(100% - 450px);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 40px;
    flex-wrap: wrap;
  }
  
  .dashboard-container {
    text-align: left;
    flex: 1;
    margin-bottom: 20px;
  }
  
  .dashboard-container h2 {
    font-size: 38px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .dashboard-container p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .dashboard-details {
    font-size: 18px;
    margin: 20px 0px;
  }
  
  .dashboard-cards {
    display: flex;
    gap: 20px;
    flex: 1;
  }
  
  .dashboard-details span {
    display: block;
  }
  
  .dashboard-button {
    background-color: rgb(60, 79, 110);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .dashboard-button:hover {
    background-color: #333;
  }
  
  @media (max-width: 1024px) {
    .dashboard {
      flex-direction: column;
    }
  }
  
  h3 {
    font-size: 26px;
    margin: 10px 0px;
  }
  
  .form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px 0px;
    border-radius: 10px;
    gap: 20px;
  }
  
  .form-item {
    flex: 1 1 40%;
    padding: 20px 0px;
  }
  
  .form-item h3 {
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
    .form-item {
      flex: 1 1 100%;
    }
  }
  
  @media (max-width: 480px) {
    .form-item {
      flex: 1 1 100%;
      margin: 5px;
    }
    .dashboard {
      padding: 10px;
    }
  }
  
  .large-input {
    width: 300px;
    height: 40px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
  }
  