@import url('https://fonts.cdnfonts.com/css/lustria'); /*header font */
@import url('https://fonts.cdnfonts.com/css/tt-hoves-pro-trial'); /*body font*/

/* Header */
.header {
  font-family: 'Lustria', sans-serif;
  font-size: 20px;
  margin: 1px;
  padding: 10px;
  background-color: #f8f5ec;
  color: #37452b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 250px;
  max-height: auto;
  margin-bottom: 1px;
}

.auth a {
  margin-left: 20px;
  color: #37452b;
  text-decoration: none;
}

.auth a:hover {
  text-decoration: underline;
}

/* Main Content */
.searchContainer {
  background-image: url("/assets/img3.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  text-align: center;
  background-color: #f9f9f9;
  min-height: calc(100vh - 100px);
}

.image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.searchBox {
  font-family: 'TT Hoves Pro Trial', sans-serif;
  font-size: 1.5em;
  color: #37452b ;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.searchBox h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.searchInput {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 600px;
}

.input {
  flex: 1;
  padding: 10px;
  font-family: 'TT Hoves Pro Trial', sans-serif;
  font-size: 1em;
  border: 3px solid #37452b;

}

.button {
  padding: 10px 15px;
  font-size: 1em;
  border: 2px solid #37452b;
  border-left: none;
  background-color: #37452b;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.button:hover {
  background-color: #2a3624;
}

/* Responsive Styles */
@media (min-width: 768px) {
  .searchContainer {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
  }

  .image {
    margin-right: 50px;
    width: 600px;
    height: 400px;
  }

  .searchBox {
    flex: 1;
    text-align: left;
    max-width: 600px;
  }

  .searchBox h1 {
    font-size: 3.5em;
    text-align: left;
  }
}